aiodns==3.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.3.2
aiosqlite==0.21.0
alabaster==1.0.0
alembic==1.16.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.10.0
APScheduler==3.11.0
asgiref==3.9.1
attrs==25.3.0
Automat==25.4.16
babel==2.17.0
bcrypt==4.3.0
beautifulsoup4==4.11.1
billiard==4.2.1
black==23.11.0
blinker==1.9.0
Brotli==1.1.0
ccxt==4.5.4
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==2.0.12
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
coverage==5.3
croniter==6.0.0
cryptography==45.0.6
cssselect==1.3.0
cssselect2==0.8.0
dateparser==1.2.2
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django>=4.2,<5
django-cors-headers==4.7.0
dnspython==2.8.0
docutils==0.21.2
edge-tts==7.0.2
email_validator==2.2.0
et_xmlfile==2.0.0
factory-boy==3.1.0
fake-useragent==2.2.0
Faker==5.0.1
fastapi==0.116.2
ffmpeg-python==0.2.0
filelock==3.18.0
flake8==7.3.0
Flask==2.3.3
Flask-APScheduler==1.13.1
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.2
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
Flask-Testing==0.8.1
Flask-WTF==1.2.1
fonttools==4.59.0
fpdf==1.7.2
frozenlist==1.7.0
fsspec==2025.7.0
future==0.18.2
git-filter-repo==2.47.0
greenlet==3.2.3
gTTS==2.5.4
gunicorn==21.2.0
h11==0.14.0
hf-xet==1.1.8
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.34.4
hyperlink==21.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
incremental==24.7.2
iniconfig==2.1.0
isort==6.0.1
itemadapter==0.12.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.0.3
jiter==0.10.0
jmespath==1.0.1
kombu==5.5.4
lxml==6.0.0
Mako==1.3.10
Markdown==3.8.2
MarkupSafe==3.0.2
marshmallow==3.20.1
mccabe==0.7.0
motor==3.7.1
moviepy==2.2.1
multidict==6.5.0
mypy_extensions==1.1.0
numpy==2.3.0
openai==1.107.3
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.2
parsel==1.10.0
passlib==1.7.4
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
playsound==1.3.0
pluggy==1.6.0
proglog==0.1.12
prompt_toolkit==3.0.51
propcache==0.3.2
Protego==0.5.0
psutil==7.0.0
psycopg2-binary==2.8.6
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycares==4.11.0
pycodestyle==2.14.0
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.11.9
pydantic_core==2.33.2
PyDispatcher==2.0.7
pydyf==0.11.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pymongo==4.15.1
PyMySQL==1.1.0
pyOpenSSL==25.1.0
pyphen==0.17.2
pypng==0.20220715.0
PySocks==1.7.1
pytest==7.4.3
python-barcode==0.14.0
python-binance==1.0.29
python-dateutil==2.9.0.post0
python-dotenv==0.19.0
python-jose==3.3.0
python-multipart==0.0.5
python_http_client==3.3.1
pyttsx3==2.98
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
queuelib==1.8.0
redis==6.4.0
regex==2025.7.34
reportlab==4.0.7
requests==2.28.0
requests-file==2.1.0
roman-numerals-py==3.1.0
rq==2.5.0
rsa==4.9.1
safetensors==0.6.2
schedule==1.2.2
Scrapy==2.13.3
secure-smtplib==0.1.1
selenium==4.35.0
sendgrid==6.4.8
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==1.4.23
sqlparse==0.4.1
srt==3.5.3
starkbank-ecdsa==1.1.0
starlette==0.48.0
stripe==12.5.1
tabulate==0.9.0
Telethon==1.40.0
text-unidecode==1.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tldextract==5.3.0
tokenizers==0.21.4
tqdm==4.67.1
transformers==4.55.3
trio==0.30.0
trio-websocket==0.12.2
twilio==8.10.0
Twisted==25.5.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.20
uvicorn==0.15.0
vine==5.1.0
virtualenv==20.34.0
w3lib==2.3.1
wcwidth==0.2.13
weasyprint==66.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==2.3.7
wheel==0.45.1
wsproto==1.2.0
WTForms==3.2.1
xlrd==2.0.2
xlsxwriter==3.2.5
yarl==1.20.1
zope.interface==7.2
zopfli==0.2.3.post1
edge-tts>=6.1.0
ffmpeg-python>=0.2.0
edge-tts>=6.1.0
ffmpeg-python>=0.2.0
